@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.7rem;
  background: #0f8dab;

  color: white;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.03rem;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  text-decoration: none;
  transition: 0.4s;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
